.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    margin: 20px auto;
    width: 100%;
    min-height: 185px;
    margin-bottom: 40px;

}


.item-container {
    min-width: 153px;
    height: 185px;
    margin: 4px 10px;

}

.item-container:first-child {
    margin-left: 21px;
}

.item-container:last-child {
    margin-right: 21px;
}

.img-container {
    height: 65%;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: calc(13% - 10px);
}

.img-container img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    object-fit: contain;


}

.text-container {
    height: 100%;
    position: relative;
    z-index: -1;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
    background-color: #ffc8a9;
}

.p-text {

    font-family: Poppins;
    font-size: 23px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #403d39;
    margin: 0;
    padding-top: 4px;
}