@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;

}

p {
    margin: 0;
}

.main-container {

    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    overflow-x: hidden;
    margin-top: 69px;
}

.container {
    width: 75%;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FBFFFD;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    text-align: center;
}

.settings {

    border-radius: 50%;
    height: 54px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 62px;
}

h1,
h2,
h3,
h4 {
    margin: 15px;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 46px;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.green {

    background: #BAFCD8;
}

.card {
    height: 46px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.arrow {

    margin: auto;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 17px;
}

.bar-container {

    display: flex;
    width: 75%;
    height: 10px;
}

.bar-container div:first-child {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.bar-container div:last-child {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.bar {
    height: 100%;
    width: 40%;
    background: #BAFCD8;
}

.complete {
    background: #49D399;
    height: 100%;
}

.w-75 {

    width: 75%;
}

.w-25 {
    width: 25%;
}

.d-flex {
    display: flex;
    align-items: center;
}

.h-100 {
    height: 100%;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.m-20 {
    margin: 10px;
}

.mw-75 {
    max-width: 75%;
}

.border-red {
    border: 1px solid white;
}

.card-primary {
    display: flex;
    align-items: center;
    color: #49D399;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
    text-align: center;
}

.card-green {
    background: #BAFCD8;
    display: flex;
    align-items: center;
    color: #49D399;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    text-align: center;
    justify-content: center;
}

.card-orange {
    text-align: center;
    display: flex;
    align-items: center;
    color: #FF6813;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px;
    background: #FFC8A9;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    justify-content: center;
}

.card-blue {
    display: inline;
    /* align-items: center; */
    color: #0067BA;
    /*     font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px; */
    background: #BBDEFB;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    text-align: center;
    justify-content: center;
}

.card-primary:after {
    content: url("../img/FlechaGo.png");
}

.img-container {

    width: 85px;
    height: 85px;
    margin: 15px;
    object-fit: cover;
    border-radius: 16px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.robot {
    overflow: hidden;
    position: relative;
}

.robot::after {

    content: url('../img/T.R.E.A.\ Girado\ 1.png');

}

.back {
    display: flex;
    margin-left: 30px;
    align-items: center;
    color: #434544;
    font-size: 22px;
}

.back::before {

    content: url('../img/Flecha\ Atras.png');
    height: 48px;
    width: 48px;
    filter: brightness(0.3);
}

.control-1::before {
    content: "";
    background-image: url(../img/Control\ 1.png);
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    top: 70%;
    right: -9px;
    background-size: 100px 100px;
    filter: drop-shadow(13px 4px 17px rgba(0, 0, 0, 0.15));
    transform: rotate(32.2deg);

}

.control-1b::after {
    content: "";
    background-image: url(../img/Control\ 2.png);
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 3;
    bottom: 70%;
    left: -16px;
    background-size: 100px 100px;
    filter: drop-shadow(13px 4px 17px rgba(0, 0, 0, 0.15));

}

.control-2::before {
    content: "";
    background-image: url(../img/Control\ 2.png);
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
    top: 70%;
    right: -9px;
    background-size: 100px 100px;
    filter: drop-shadow(13px 4px 17px rgba(0, 0, 0, 0.15));
    transform: rotate(-90.85deg);
}